/* FOOTER */

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

main {
  height: 30vh;
}

footer {
  background: rgb(13, 13, 58);
  height: 70vh;
  display: flex;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  width: 100vw;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

#footer {
  height: 60%;
  width: 90%;
  display: flex;
  justify-content: space-around;
}

#footer ul {
  color: darkgray;
  line-height: 30px;
}

.list-title {
  color: white;
  margin-bottom: 40px;
}

#newsletter {
  color: darkgray;
}
.email-input {
  margin-top: 20px;
  background: rgb(46, 25, 66);
  padding: 8px;
}
.email-sub {
  padding: 9px;
  margin-left: -5px;
}

#footer-right {
  color: white;
  width: 80%;
}
#footer-right span {
  color: goldenrod;
}

#social-links {
  display: flex;
  width: 200px;
  color: white;
  position: absolute;
  bottom: 65px;
  right: 60px;
  justify-content: space-between;
}

.social-box {
  background: rgb(46, 25, 66);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#social-links-mobile {
  display: none;
}

#img-mob {
  display: none;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i");

body {
  font-family: "roboto", sans-serif;
}

/* BANDEAU SPONSO */

#bandeau-sponso {
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#sponso {
  height: 50%;
  width: 80%;
  display: flex;
  justify-content: space-around;
}
#sponso img {
  width: 10%;
  height: 50%;
  opacity: 0.2;
}

/************************************ HEADER *********************************/
header {
  height: 100vh;
  background: url(../img/header-bg.jpg) center/cover;
}

#gradient {
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(46, 72, 82, 0.6) 0%,
    rgba(46, 72, 82, 0.3) 100%
  );
}

/************************************ NAVBAR *********************************/
nav {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav img {
  width: 200px;
  text-align: center;
}

#burger {
  display: none;
  color: white;
}

nav > ul {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav li {
  list-style-type: none;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  /* font-size: 1.1rem; */
}

#home {
  color: orange;
}

.under_menu {
  position: relative;
}

.menu_hide {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 10px;
  width: 100px;
  height: 250px;
  background: rgb(81, 127, 165);
  border-radius: 0 0 10px 10px;
}

nav button {
  font-family: inherit;
  font-size: 1rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

nav .corner {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
}

/* Media queries */
@media screen and (max-width: 900px) {
  footer {
    height: 150vh;
  }
  #footer {
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  #social-links {
    display: none;
  }
  #social-links-mobile {
    display: flex;
    justify-content: space-between;
    width: 200px;
    color: white;
  }
  #footer-foot {
    margin-top: 30px;
    margin-left: 40px;
    width: 100%;
  }
  .list-title {
    margin-bottom: 10px;
  }
  #sponso {
    display: none;
  }
  #img-mob {
    display: block;
    opacity: 0.2;
  }
}
